:root {
  --bg: #2f2e41;
  --grey: #999999;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

html,
body,
#root {
  height: 100%;
}

#root {
  background-color: var(--bg);
}
.App {
  text-align: center;
  background-color: var(--bg);
  font-size: calc(10px + 2vmin);
  color: white;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  max-width: 1080px;
  margin: auto;
}

.loader {
  height: 62px;
  width: 62px;
  pointer-events: none;
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 88px;
  padding: 16px;
}

.App-header .title {
  font-size: 20px;
  font-weight: 700;
  line-height: 27.24px;
  text-align: left;
  cursor: pointer;
}

.App-header .cart-container {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  border-radius: 8px;
  padding: 8px 4px;
}
.App-header .cart-container:hover {
  background-color: #00000010;
  border-radius: 4px;
  transition: all 0.3s ease-out;
}
.App-header .cart-container img {
  height: 40px;
  width: 40px;
  padding: 8px;
}

.App-header .cart-container span {
  color: var(--grey);
  font-size: 12px;
  font-weight: 600;
  /* text-align: right; */
}

.App-header .card-label {
  font-size: 14px;
  font-weight: 600;
  line-height: 19.07px;
  text-align: right;
}

@media (prefers-reduced-motion: no-preference) {
  .loader {
    animation: App-logo-spin infinite 2s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.empty-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  margin-left: 16px;
  margin-right: 16px;
  border-radius: 4px;
  padding: 40px;
  height: calc(100% - 128px);
  margin-bottom: 40px;
}

.empty-page p {
  color: var(--bg);
  font-size: 20px;
  font-weight: 700;
  line-height: 27.24px;
}

.movie-card button div {
  display: flex;
}
.movie-card button p {
  font-size: 12px;
  font-weight: 700;
  line-height: 16.34px;
  text-align: center;
  color: white;
}
.movie-card button span {
  font-size: 12px;
  font-weight: 400;
  line-height: 16.34px;
  text-align: center;
  color: white;
}

button img {
  width: 14px;
  height: 14px;
}

.movie-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;

  margin-left: 16px;
  margin-right: 16px;

  max-height: calc(100% - 108px);
  /* padding-bottom: 40px; */
  overflow-x: scroll;
}

.movie-card-container::-webkit-scrollbar {
  display: none;
}
.movie-card {
  background-color: white;
  border-radius: 4px;
  padding: 16px;
}
.movie-card p {
  color: #333333;
  font-size: 12px;
  font-weight: 700;
  line-height: 16.34px;
  text-align: center;
}
.movie-card span {
  color: var(--bg);
  font-size: 16px;
  font-weight: 700;
  line-height: 21.79px;
  text-align: center;
}

.movie-card img.cover {
  width: 147px;
  height: 188px;
}

.movie-card button {
  width: 100%;
}

@media (max-width: 1080px) and (min-width: 500px) {
  .movie-card-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .movie-card-container {
    grid-template-columns: 1fr;
  }
}

.cart {
  background-color: white;
  color: var(--bg);
  padding: 16px;
  margin: 16px;
  border-radius: 4px;
}
.cart-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.cart-item {
  background-color: white;
  display: flex;
  gap: 16px;
}
.cart-item img.cover {
  width: 64px;
  height: 82px;
}
.cart-item .right-container {
  gap: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.cart-item .right-container .top {
  display: flex;
  justify-content: space-between;
}
.cart-item .right-container .bottom {
  display: flex;
  gap: 16px;
  justify-content: space-around;
}
.cart-item .title {
  font-size: 14px;
  font-weight: 700;
  line-height: 19.07px;
}
.cart-item .right-container .price {
  font-size: 16px;
  font-weight: 700;
  line-height: 21.79px;
}

.cart-item .right-container img {
  height: 18px;
  width: 18px;
  cursor: pointer;
}
.cart-item .right-container input {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  height: 26px;
  max-width: 62px;
  text-align: center;
}

.cart-item .count-form {
  display: flex;
  gap: 8px;
  align-items: center;
}

.cart-item .subtotal {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  line-height: 16.34px;
  color: var(--grey);
}
.cart-item .subtotal span {
  font-size: 16px;
  line-height: 21.79px;
  color: var(--bg);
}

.cart-divider {
  height: 1px;
  width: 100%;
  background-color: var(--grey);
  margin-top: 16px;
  margin-bottom: 16px;
}

.cart-total {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-total span {
  font-size: 14px;
  font-weight: 700;
  line-height: 19.07px;
  text-align: left;
  color: var(--grey);
}
.cart-total span.price {
  color: var(--bg);
  font-size: 24px;
  font-weight: 700;
  line-height: 32.68px;
}

.finish-order {
  width: 100%;
  margin-top: 16px;
}

@media (min-width: 768px) {
  .cart, .cart-item {
    display: none;
  }
}
