.App {
  text-align: center;
  background-color: #2f2e41;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 88px;
  padding: 16px;
}

.App-header .cart-container {
  display: flex;
  align-items: center;
  gap: 8px;
}
.App-header .cart-container img {
  height: 24px;
  width: 24px;
  padding: 8px;
}

.App-header .cart-container span {
  color: #999999;
  font-size: 12px;
  font-weight: 600;
}

@media (prefers-reduced-motion: no-preference) {
  .loader {
    animation: App-logo-spin infinite 2s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
